<div class="otp-container">
  <div class="icon-container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="warning-icon">
      <circle cx="12" cy="12" r="10" fill="rgb(247, 148, 36)" />
      <text x="12" y="16" text-anchor="middle" font-size="12" fill="white" font-family="Arial" font-weight="bold">!</text>
    </svg>
  </div>
  <p>Email or phone number does not exist</p>
  <mat-dialog-actions class="otp-buttons">
    <button (click)="closeDialog()" mat-button mat-dialog-close class="yes-button">Ok</button>
  </mat-dialog-actions>
</div>